<% title "#{@page_title} - #{AppSettings['settings.site_name']}#{params[:page].present? ? " - Page #{params[:page]}" : nil}" %>
<% meta_tag :description, "#{@category.meta_description}#{params[:page].present? ? " - Page #{params[:page]}" : nil}" %>
<% meta_tag :keywords, "#{@category.keywords}" %>
<% content_for :canonical_url, category_url(@category, page: params[:page].present? ? params[:page] : nil) %>
<% AppSettings['i18n.available_locales'].each do |lang| %>
  <% content_for :"canonical_url_#{lang}", I18n.with_locale(lang) { category_url(@category, page: params[:page].present? ? params[:page] : nil) } %>
<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="h3">
      <%= @category.name %>
      <%= params[:page].present? ? " - Page #{params[:page]}" : nil %>
    </h1>
    <% @docs.each do |doc| %>
      <%= render "docs/doc_panel", doc: doc %>
    <% end %>
    <% if @docs.count == 0 %>

      <div class="text-center verticalness">
        <%= t(:nothing_here) %>
      </div>

    <% end %>

    <div class="row">
      <div class="col-md-12 text-left">
        <%= paginate @docs %>
      </div>
    </div>
  </div>
</div>
