
<% title renderize_doc_title(@doc.title_tag, @doc.title) %>
<% meta_tag :description, "#{@doc.meta_description}" %>
<% meta_tag :keywords, "#{@doc.keywords}" %>
<% content_for :canonical_url, doc_url(@doc) %>
<% AppSettings['i18n.available_locales'].each do |lang| %>
  <%
    url = I18n.with_locale(lang) { doc_url(@doc) }
    # only include canonical for given lang if the content is translated and available
    unless url.include?("missing-title")
  %>
    <% content_for :"canonical_url_#{lang}", url %>
  <%
    end
  %>
<% end %>

<script>
  Helpy.yesHelped = '<%= j t(:yes_helped) %>';
  Helpy.noHelped = '<%= j t(:no_helped) %>';
  <% if tickets? %>
    Helpy.contactUs = '<a href="<%= new_topic_path(doc_id: @doc.id) %>" class="btn btn-primary btn-lg get-help-button"><%= j t(:start_discussion) %></a>';
  <% else %>
    Helpy.contactUs = '';
  <% end %>
</script>

  <div class="row content-row">
    <div class="col-md-3 doc-panel doc-show-panel leftmenu">
      <strong><%= I18n.t("from_same_category", default: "From the same category") %></strong>
      <ul class="from-same-categories">
        <% Category.includes(:docs).find(@doc.category_id).docs.active.with_translations(I18n.locale).limit(10).each do |related_doc| %>
          <% if related_doc.id != @doc.id %>
            <li>
              <%= link_to related_doc.title, doc_path(related_doc) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="doc-panel doc-show-panel">
        <div class="text-content">
          <% if @page_title.present? %>
            <h1><%= @page_title %></h1>
            <span class="subtitle">
              <%= I18n.t("written_by", default: "By") %>
              <%= @doc.user.name.titleize %>,
              <%= I18n.t("last_edited", default: "last update on") %>
              <%= last_active_time(@doc.updated_at) %>
              <% if user_signed_in? && current_user.is_editor? %>
                -
                <%= link_to "Edit", edit_admin_category_doc_path(@doc.category.id, @doc.id, lang: I18n.locale) %>
              <% end %>
            </span>
          <% end %>
          <hr class="doc-title-bottom-border">
          <div class="text-doc-content">
            <%= sanitize_doc_content(@doc.content) %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% if @doc.allow_comments && forums? %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <hr/>
      <h4><%= @posts.blank? ? "" : t(:topic) %></h4>
    </div>

  	<div class="col-md-10 col-md-offset-1">
  		<script>
  			Helpy.messages = '<%= j t(:collapsed_messages, count: @posts.count-2) unless @posts.nil? %>';
  		</script>

      <table id="posts">
  			<%= render :partial => 'comment', :collection => @posts %>
  		</table>

  		<% if user_signed_in? # show a form to reply or start discussion %>
        <%= render partial: 'docs/comment_form', locals: {post: @post} %>
  		<% else # show a button to reply or start the discussion %>
        <div>
          <% if @posts.blank? %>
          <span class="hidden-xs pull-right"><%= link_to t(:start_discussion, default: "Start Discussion"), '#', data: {toggle: "modal", target: "#login-modal"}, class: 'btn btn-primary' %></span>
          <% else %>
          <span class="hidden-xs pull-right"><%= link_to t(:reply, default: "Reply"), '#', data: {toggle: "modal", target: "#login-modal"}, class: 'btn btn-primary' %></span>
          <% end %>
        </div>
      <% end %>
  	</div>
  </div>
<% end %>

<%# At the moment, Yes/No are only tracked via Google Analytics events. %>
<%# There isn't any logic internally allowing us to check if a user already voted or to display the number of people who were helped %>
<%# <div class="col-md-10 col-md-offset-1"> %>
      <%#= render 'layouts/did_this_help' %>
<%# </div> %>
